attr global userattr cmdIcon devStateIcon:textField-long devStateStyle icon sortby webCmd webCmdLabel:textField-long widgetOverride
attr global autoload_undefined_devices 1
attr global autosave 0
attr global logfile log/fhem-%Y-%m-%d.log
attr global modpath .
attr global nofork 0
attr global pidfilename log/fhem.pid
attr global showInternalValues 1
attr global statefile ./log/fhem.save
attr global updateInBackground 1
attr global verbose 3
# FHEM Configuration for PySignalduino Dev Environment
#
# This file is loaded by the FHEM container via CONFIGTYPE environment variable.

define autocreate autocreate
setuuid autocreate 696cb3f6-f33f-c986-f3b0-817e6b68814552c3

# 1. Define FHEMWEB instance to access FHEM via Browser (Port 8083)
define WEB FHEMWEB 8083 global
setuuid WEB 695e9c21-f33f-c986-956a-7e26fc9adfc69728
attr WEB editConfig 1
attr WEB stylesheetPrefix dark

# 2. Define Telnet for command line access (Optional)
#define telnetPort telnet 7072 global

# 3. Basic Event Handling
define eventTypes eventTypes ./log/eventTypes.txt
setuuid eventTypes 695e9c21-f33f-c986-9ac3-190c47641a98acb9


# tag::broker_config[]
# 4. Define the MQTT Client (Broker Connection)
# 'mqtt' is the hostname of the broker service in docker-compose.yml
define mqtt_broker MQTT2_CLIENT mqtt:1883
setuuid mqtt_broker 695e9c21-f33f-c986-e617-d7301881c4685bc6
attr mqtt_broker autocreate simple
attr mqtt_broker verbose 3
# end::broker_config[]

# tag::device_config[]
# 5. Define the SignalDuino MQTT Device
define SignalDuino_MQTT SIGNALduino mqtt
setuuid SignalDuino_MQTT 696cb50e-f33f-c986-0810-0617456cfc539073
attr SignalDuino_MQTT verbose 3
# end::device_config[]

# Logfile for SignalDuino
define FileLog_SignalDuino_MQTT FileLog ./log/FileLog_SignalDuino_MQTT-%Y.log SignalDuino_MQTT
setuuid FileLog_SignalDuino_MQTT 696cb3f6-f33f-c986-687a-e2f563d64a4e8bbe
attr FileLog_SignalDuino_MQTT logtype text

define Logfile FileLog /opt/fhem/log/fhem-%Y-%m-%d.log Logfile
setuuid Logfile 696cb3f6-f33f-c986-3db0-979283e5714bf221
