name: Documentation Build and Deploy

on:
  push:
    branches:
      - main
      - '**' # Run on all branches for build/test
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4

      - uses: reitzig/actions-asciidoctor@v2.0.2
        with:
          version: 2.0.26

      - name: run asciidoctor    
        run:  asciidoctor -R docs -D build/site/html -a docinfo=shared -a toc=left -a toclevels=2 'docs/index.adoc'
      
      - name: Add CNAME file
        if: github.ref != 'refs/heads/main'
        run:  echo 'preview.rfd-fhem.github.io' > "build/site/html/CNAME"

      - name: Add CNAME file
        if: github.ref == 'refs/heads/main'
        run:  echo 'pysignalduino.rfd-fhem.github.io' > "build/site/html/CNAME"

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: build/site/html
  
  deploy:
    permissions:
      contents: write 
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4